#card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;

    padding: 20px;

}
.title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    gap: 600px
}

.articles{
    display: flex;
    justify-content: center;
    gap: 100px
}
.item{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 200px
}
